[submodule "tools/recomp"]
	path = tools/recomp
	url = https://github.com/Emill/ido-static-recomp.git
[submodule "port/external/LeiaSR64"]
	path = port/external/LeiaSR64
	url = https://github.com/oneup03/LeiaSR64.git
