[submodule "tools/recomp"]
	path = tools/recomp
	url = https://github.com/Emill/ido-static-recomp.git
[submodule "libs/SR-lib"]
	path = libs/SR-lib
	url = https://github.com/bo3b/SR-lib.git
	branch = api_expansion
